{% load static %}
<!DOCTYPE html>
<HTML lang="en" data-theme="">
	<HEAD>
		<META name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<META name="description" content="eggify, a web app that turns all your words into egg">
		<TITLE>No such egg</TITLE>
		<LINK rel="shortcut icon" href="{% static 'eggify/images/smol_egg_icon.ico' %}" type="image/x-icon">
		<LINK rel="stylesheet" type="text/css" href="{% static 'eggify/style.css' %}?{{ cache_id}}">
                <SCRIPT type="text/javascript" src="/static/eggify/scripts.js"></SCRIPT>
	</HEAD>

	<BODY>
		<HEADER>
			<DIV>
				<a href="{% url 'eggify:index' %}"><DIV id="logo"></DIV></a>
                                <DIV id="theme-switch-wrapper">
                                        <LABEL for="checkBox" id="theme-label">
                                                <INPUT type="checkbox" id="checkBox">
                                                <DIV class="slider round"></DIV>
                                        </LABEL>
                                </DIV>
			</DIV>
		</HEADER>

		<MAIN>
			<DIV>
				<SECTION>
				<H3>congratuleggtions, you are looking at our 404 page!</H3>
				{{ exception }}
				<br><br>
				<a href="{% url 'eggify:index' %}">Back to Eggify</a>
				</SECTION>
			</DIV>
		</MAIN>

		<FOOTER>
			<DIV>
				<ARTICLE>
				<H3>The brains that made eggify possible:</H3>
				Samie Azad: <a href="https://github.com/sazad44" target="_blank">GitHub</a> / <a href="https://twitter.com/AzadSamie" target="_blank">Twitter</a>
				<br>
				Athena Deng: <a href="https://github.com/ad-egg" target="_blank">GitHub</a> / <a href="https://www.linkedin.com/in/ad-egg/" target="_blank">LinkedIn</a>
				</ARTICLE>
				<ARTICLE>
				<H3>eggify's code</H3>
				Check it out on <a href="https://github.com/ad-egg/eggify" target="_blank">GitHub</a>
				</ARTICLE>
			</DIV>
		</FOOTER>
	</BODY>
</HTML>
