<!DOCTYPE html>
<HTML lang="en">
	<HEAD>
		<META name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<TITLE>No such egg</TITLE>
		<LINK rel="stylesheet" type="text/css" src="'eggify/style.css'?{{ cache_id }}">
                <SCRIPT type="text/javascript" src="/static/eggify/scripts.js"></SCRIPT>
	</HEAD>

	<BODY class={{ theme }}>
		<HEADER class={{ theme }}>
			<DIV id="logo"></DIV>
		</HEADER>

		<MAIN class={{ theme }}>
			<SECTION>
			<H3>congratuleggtions, you are looking at our 404 page!</H3>
			{{ exception }}
			<br><br>
			<a href="{% url 'eggify:index' %}" class={{ theme }}>Back to Eggify</a>
			</SECTION>
		</MAIN>

		<FOOTER class={{ theme }}>
		</FOOTER>
	</BODY>
</HTML>
