body {
	display: flex;
	flex-direction: column;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
}

header {
        padding: 10px;
}

footer {
	padding: 10px;
}

main {
	padding: 10px;
}

#logo {
        background-image: url("images/eggify_darktheme.png");
        background-repeat: no-repeat;
        background-size: 186px 109px;
        background-position: left center;
        height: 100px;
	padding: 10px;
}

body.yellow_egg {
	background-color: #FFFACD;
	display: flex;
	flex-direction: column;
	color: #000000;
}

header.yellow_egg {
	border-bottom: 5px solid #FFD700;
}

footer.yellow_egg {
	border-top: 5px solid #FFD700;
}


main.yellow_egg {
}

div {
	display: block;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

input[type=text], textarea {
	background-color: #FFFFFF;
	border: 5px solid #FFD700;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	float: center;
	box-sizing: border-box;
	width: 100%;
	color: #000000;
	font-size: 16px;
}

input[type=text]:focus, textarea:focus {
	border: 5px dashed #FFD700;
	outline: none;
}

input[type=text] {
}

textarea {
	height: 75%;
	min-height: 250px;
	resize: none;
}

label {
	display: none;
}

button.yellow_egg {
	background-color: #FFDAB9;
	border: 5px dashed #DEB887;
	border-radius: 5px;
	padding: 10px;
	color: #000000;
	font-size: 16px;
}

button.yellow_egg:hover {
	border: 5px solid #DEB887;
}
