{% load static %}
<!DOCTYPE html>
<HTML lang="en">
	<HEAD>
		<META name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<TITLE>Eggn't</TITLE>
		<LINK rel="stylesheet" type="text/css" href="{% static 'eggify/style.css' %}?{{ cache_id }}">
                <SCRIPT type="text/javascript" src="/static/eggify/scripts.js"></SCRIPT>
	</HEAD>

	<BODY class="yellow_egg">
		<HEADER class="yellow_egg">
                        <DIV>
                                <SPAN><BUTTON class="yellow_egg" id="theme" onclick="changeTheme()">dark theme</BUTTON></SPAN>
                        </DIV>
		</HEADER>

		<MAIN class="yellow_egg">
			<DIV>
				<SECTION>
				<H3>eggn't ID {{ eggnt.id }}</H3>
				<TEXTAREA readonly=True>{{ eggnt.words }}</TEXTAREA>
				<br><br>
				<a href="{% url 'eggify:index' %}">Back to Eggify</a>
				</SECTION>
			</DIV>
		</MAIN>

		<FOOTER class="yellow_egg">
		</FOOTER>
	</BODY>
</HTML>
