{% load static %}
<!DOCTYPE html>
<HTML lang="en">
	<HEAD>
		<META name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<TITLE>Eggn't</TITLE>
		<LINK rel="stylesheet" type="text/css" href="{% static 'eggify/style.css' %}">
	</HEAD>

	<BODY>
		<HEADER>
		</HEADER>

		<MAIN>
			<DIV>
				<SECTION>
				<H3>eggn't ID {{ eggnt.id }}</H3>
				<TEXTAREA readonly=True>{{ eggnt.words }}</TEXTAREA>
				<br><br>
				<a href="{% url 'eggify:index' %}">Back to Eggify</a>
				</SECTION>
			</DIV>
		</MAIN>

		<FOOTER>
		</FOOTER>
	</BODY>
</HTML>
