{% load static %}
<!DOCTYPE html>
<HTML lang="en" data-theme="">
        <HEAD>
		<META name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <TITLE>Eggified</TITLE>
		<LINK rel="shortcut icon" href="{% static 'eggify/images/smol_egg_icon.ico' %}" type="image/x-icon">
		<LINK rel="stylesheet" type="text/css" href="{% static 'eggify/style.css' %}?{{ cache_id }}">
		<SCRIPT type="text/javascript" src="/static/eggify/scripts.js"></SCRIPT>
        </HEAD>

        <BODY>
                <HEADER>
			<DIV>
                        	<a href="{% url 'eggify:index' %}"><DIV id="logo"></DIV></a>
                                <DIV id="theme-switch-wrapper">
                                        <LABEL for="checkBox" id="theme-label">
                                                <INPUT type="checkbox" id="checkBox">
                                                <DIV class="slider round"></DIV>
                                        </LABEL>
                                </DIV>
                        </DIV> 
                </HEADER>

                <MAIN>
			<DIV>
				<SECTION>
				<H3>Everything is egg!</H3>
				<BUTTON id="eggButton" onclick="copyEgg()">copy eggified text</BUTTON>
				<TEXTAREA readonly=True id="eggOutput">{{ egg }}</TEXTAREA>
				<br><br>
				<BUTTON id="linkButton" onclick="copyLink()">copy link to original input</BUTTON>
				<br>
				<input type=text readonly=True id="eggntLink" value="{{ host_name }}{% url 'eggify:detail' eggnt.id %}">
				<br><br>
				<a href="{% url 'eggify:index' %}">Eggify some more!</a>
				</SECTION>
				<H3>How to use eggify:</H3>
				<OL>
					<LI>have something to eggify</LI>
					<LI>copy that and paste it into the text box above, or type it in there, NO EMOJIS PLEASE, please paste tab characters</LI>
					<LI>press the <SPAN>[ eggify! ]</SPAN> button</LI>
					<LI>use the <SPAN>[ copy eggified text ]</SPAN> button and paste the eggified text where you want to post it</LI>
					<LI>use the <SPAN>[ copy link to original text ]</SPAN> button and share that along with your eggified text for people who don't speak fluent egg</LI>
				</OL>
				</SECTION>
			</DIV>
		</MAIN>

                <FOOTER>
			<DIV>
				<ARTICLE>
				<H3>Find us:</H3>
				{{ location|safe }}
				</ARTICLE>
				<ARTICLE>
				<H3>The brains that made eggify possible:</H3>
				Samie Azad: <a href="https://github.com/sazad44" target="_blank">GitHub</a> / <a href="https://twitter.com/AzadSamie" target="_blank">Twitter</a>
				<br>
				<a href="https://ad-egg.github.io/" target="_blank">Athena Deng</a>: <a href="https://github.com/ad-egg" target="_blank">GitHub</a> / <a href="https://www.linkedin.com/in/ad-egg/" target="_blank">LinkedIn</a>
				</ARTICLE>
				<ARTICLE>
				<H3>eggify's code</H3>
				Check it out on <a href="https://github.com/ad-egg/eggify" target="_blank">GitHub</a>
				</ARTICLE>
			</DIV>
                </FOOTER>
        </BODY>
</HTML>
