{% load static %}
<!DOCTYPE html>
<HTML lang="en">
        <HEAD>
		<META name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <TITLE>Eggified</TITLE>
		<LINK rel="stylesheet" type="text/css" href="{% static 'eggify/style.css' %}?{{ cache_id }}">
		<SCRIPT type="text/javascript" src="/static/eggify/scripts.js"></SCRIPT>
        </HEAD>

        <BODY class="yellow_egg">
                <HEADER class="yellow_egg">
                </HEADER>

                <MAIN class="yellow_egg">
			<DIV>
				<SPAN><BUTTON class="yellow_egg" id="theme" onclick="changeTheme()">dark theme</BUTTON></SPAN>
			</DIV>
			<DIV>
				<SECTION>
				<H3>Everything is egg!</H3>
				<BUTTON class="yellow_egg" id="eggButton" onclick="copyEgg()">copy eggified text</BUTTON>
				<TEXTAREA readonly=True id="eggOutput">{{ egg }}</TEXTAREA>
				<br><br>
				URL for sharing: <BUTTON class="yellow_egg" id="linkButton" onclick="copyLink()">copy link</BUTTON>
				<br>
				<input type=text readonly=True id="eggntLink" value="{{ host_name }}{% url 'eggify:detail' eggnt.id %}">
				<br><br>
				<a href="{% url 'eggify:index' %}">Eggify some more!</a>
				</SECTION>
{{ abs_uri }}
			</DIV>
		</MAIN>

                <FOOTER class="yellow_egg">
                </FOOTER>
        </BODY>
</HTML>
