<!DOCTYPE html>

<HTML lang="en">
        <HEAD>
                <TITLE>Eggified</TITLE>
        </HEAD>

        <BODY>
                <HEADER>
                </HEADER>

                <MAIN>
			{{ egg_html|safe }}
			<br><br>
			Eggn't ID: {{ eggnt.id }}
			<br><br>
			Eggn't URL: {% url 'eggify:detail' eggnt.id %}
			<br><br>
			<a href="{% url 'eggify:detail' eggnt.id %}">Eggn't link</a>
			<br><br>
			<a href="{% url 'eggify:index' %}">Eggify some more!</a>
                </MAIN>

                <FOOTER>
                </FOOTER>
        </BODY>
</HTML>
