{% load static %}
<!DOCTYPE html>
<HTML lang="en" data-theme="">
	<HEAD>
		<META name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<META http-equiv="content-type" content="text/html; charset=utf-8">
		<TITLE>eggify</TITLE>
		<LINK rel="shortcut icon" href="{% static 'eggify/images/smol_egg_icon.ico' %}" type="image/x-icon">
		<LINK rel="stylesheet" type="text/css" href="{% static 'eggify/style.css' %}?{{ cache_id }}">
                <SCRIPT type="text/javascript" src="/static/eggify/scripts.js"></SCRIPT>
	</HEAD>

	<BODY>
		<HEADER>
			<DIV>
				<a href="{% url 'eggify:index' %}"><DIV id="logo"></DIV></a>
                                <DIV id="theme-switch-wrapper">
                                        <LABEL for="checkBox" id="theme-label">
                                                <INPUT type="checkbox" id="checkBox">
                                                <DIV class="slider round"></DIV>
                                        </LABEL>
                                </DIV>
       </DIV> 
		</HEADER>

		<MAIN>
			<DIV>
				<SECTION>
				<H3>Turn everything into egg!</H3>
				<FORM action="egged/" method="post" accept-charset="utf-8">
				{% csrf_token %}
				your input language:
				{{ form.input_language }}
				{{ form.your_input }}
				eggify output language:
				{{ form.output_language }}
				<br><br>
				<BUTTON>eggify!</BUTTON>
				</FORM>
				</SECTION>
				<SECTION>
				<H3>How to use eggify:</H3>
				<OL>
					<LI>have something to eggify (English input only, for now)</LI>
					<LI>copy that and paste it into the text box above, or type it in there, NO EMOJIS PLEASE, please paste tab characters</LI>
					<LI>press the <SPAN>[ eggify! ]</SPAN> button</LI>
					<LI>use the <SPAN>[ copy eggified text ]</SPAN> button and paste the eggified text where you want to post it</LI>
					<LI>use the <SPAN>[ copy link to original text ]</SPAN> button and share that along with your eggified text for people who don't speak fluent egg</LI>
				</OL>
					<iframe src="https://drive.google.com/file/d/1ZJQMjZJYVcdcwxIhhDd54cxRqp2B21q0/preview" class="vids" width="100%" height="314" allowfullscreen></iframe>
				</SECTION>
				<SECTION>
				<H3>What does eggify do?</H3>
				<p>
				When you have any non-egg (eggn't) content to share with a "only allowed to say egg" community, like a funny story or joke, sharing it just as it is will result in you getting removed from the community! That is where <STRONG>eggify</STRONG> swoops in to save the day, by helping you turn all of your words into "egg"! Now your story or joke or whatever is safe to share. A link is also provided, for friends who are in these communities but do not speak fluent egg, to view the original input. As a bonus, any digit in your input is replaced by "0" to make the output more egg-like.
				</p>
				</SECTION>
			</DIV>
		</MAIN>

		<FOOTER>
			<DIV>
				<ARTICLE>
				<H3>Find us:</H3>
				{{ location|safe }}
				</ARTICLE>
				<ARTICLE>
				<H3>The brains that made eggify possible:</H3>
				Samie Azad: <a href="https://github.com/sazad44" target="_blank">GitHub</a> / <a href="https://twitter.com/AzadSamie" target="_blank">Twitter</a>
				<br>
				Athena Deng: <a href="https://github.com/ad-egg" target="_blank">GitHub</a> / <a href="https://www.linkedin.com/in/ad-egg/" target="_blank">LinkedIn</a>
				</ARTICLE>
				<ARTICLE>
				<H3>eggify's code</H3>
				Check it out on <a href="https://github.com/ad-egg/eggify" target="_blank">GitHub</a>
				</ARTICLE>
			</DIV>
		</FOOTER>
	</BODY>
</HTML>
